* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #ac1717, #d34114);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 370px;
    padding: 28px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(14px);
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    color: #fff;
    animation: popIn 0.6s ease;
}

@keyframes popIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.card h1 {
    text-align: center;
    font-size: 24px;
}

.card p {
    text-align: center;
    font-size: 13px;
    opacity: 0.85;
    margin-bottom: 22px;
}

.length-box {
    margin-bottom: 22px;
}

.length-box label {
    display: block;
    margin-bottom: 6px;
}

.length-box input {
    width: 100%;
}

.length-box span {
    display: block;
    text-align: right;
    margin-top: 6px;
    font-weight: 600;
    color: #fbcfe8;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    margin-bottom: 22px;
}

.toggle {
    background: rgba(255,255,255,0.12);
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.toggle:hover {
    background: rgba(255,255,255,0.22);
}

.toggle input {
    accent-color: #54e238;
    transform: scale(1.25);
}

.generate-btn {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: none;
    background: 
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.generate-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(128, 136, 172, 0.6);
}

.output {
    display: flex;
    margin-top: 20px;
}

.output input {
    flex: 1;
    padding: 12px;
    border-radius: 12px 0 0 12px;
    border: none;
    font-size: 14px;
}

.copy-btn {
    padding: 12px 16px;
    border-radius: 0 12px 12px 0;
    border: none;
    background: #22c55e;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.copy-btn:hover {
    background: #16a34a;
}
